 <div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sorteio</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel pan-sortear">
                        <div class="panel-heading">
                            <center>
                                <button class="btn btn-primary btn-lg" ng-click="sorteiaCarinha()" ng-disabled="desabilitaBotao">Sortear</button>
                            </center>
                        </div>
                        <div class="panel-body">
                            <center>
                                <h1>{{sortudo.nome}}</h1>
                                <div class="pessoa-sorteada">
                                    <img src="http://graph.facebook.com/{{sortudo.id}}/picture" onerror="this.src='images/default.gif'" class="img-circle" alt="{{sortudo.nome}}" width="200">
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default chat">
                        <div class="panel-heading" id="accordion"><span class="sorteado">Sorteados</span></div>
                        <div class="panel-body">
                            <ul>
                                <li class="left clearfix" ng-repeat="pessoa in pessoas | filter:{sorteado:true}">
                                    <span class="chat-img pull-left">
                                        <img src="http://graph.facebook.com/{{pessoa.id}}/picture" alt="{{pessoa.nome}}" onerror="this.src='images/default.gif'" class="img-circle circle-custom" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font" ng-class="{'sorteado' : pessoa.sorteado}">{{pessoa.nome}}</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div><!--/.col-->
            </div><!--/.row-->
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Participantes / Total ({{qtdPessoas}})
                </div>
                <div class="panel-body">
                    <ul>
                        <li class="left clearfix lista-participantes" ng-repeat="pessoa in pessoas" ng-class="{'opaco' : pessoa.sorteado}">
                            <div class="chat-img pull-left img-participante">
                                <img src="http://graph.facebook.com/{{pessoa.id}}/picture" onerror="this.src='images/default.gif'" alt="{{pessoa.nome}}" class="img-circle circle-custom-footer" />
                            </div>
                            <span class="nome-participante">
                                {{pessoa.nome}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
